<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jiezhang.mapper.AdminMapper">

    <update id="updateEntity" parameterType="java.util.Map">
        UPDATE system_admin
        <set>
            <if test="name != null">name =#{name},</if>
            <if test="password != null">password =#{password},</if>
            <if test="activating != null">activating =#{activating},</if>
            <if test="description != null">description =#{description}</if>
        </set>
        where admin_id=#{adminId}
    </update>

    <select id="selectEntity" parameterType="java.util.Map" resultType="jiezhang.entity.db.Admin">
        SELECT * FROM system_admin
        <where>
            <if test="adminId!=null and adminId!=''">
                admin_id = #{adminId}
            </if>
            <if test="name!=null and name!=''">
                AND name = #{name}
            </if>
            <if test="password!=null and password!=''">
                AND password = #{password}
            </if>
        </where>
    </select>

    <select id="queryDataTablePage" parameterType="jiezhang.entity.DataTablePage"
            resultType="jiezhang.entity.db.Admin">
        SELECT * FROM
        <include refid="table_name"/>
        <where>
            <if test="params.adminId!=null and params.adminId!=''">
                admin_id = #{params.adminId}
            </if>
            <if test="params.name!=null and params.name!=''">
                AND name = #{params.name}
            </if>
        </where>
        <if test="params.orderColumn != null and params.orderColumn != ''">
            order by ${params.orderColumn} ${params.orderDir}
        </if>
    </select>

    <select id="selectAll" parameterType="java.util.Map" resultType="jiezhang.entity.db.Admin">
        select * from
        <include refid="table_name"/>
    </select>
    <sql id="table_name">
          system_admin
    </sql>
</mapper>